<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
	<meta charset="UTF-8">
</head>
<body>
	<strong>Menu</strong>
	<hr/>
	<div id="ac-menu">
		<div class="menu-title">財務</div>
		<ul>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
		<div class="menu-title">販売</div>
		<ul>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
		<div class="menu-title">在庫</div>
		<ul>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
		<div class="menu-title">生産</div>
		<ul>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
		<div class="menu-title">人事</div>
		<ul>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
		<div class="menu-title">マスタメンテナンス</div>
		<ul>
			<li>ユーザメンテナンス</li>
			<li>会社マスタ</li>
			<li>事業部マスタ</li>
			<li>製品マスタ</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
			<li>テスト</li>
		</ul>
		<hr/>
	</div> 
	<div>
		<ul>
			<li><a th:href="@{/logout}" target="_parent">LOG OUT</a></li>
		</ul>
	</div>
</body>
</html>