<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
	<meta charset="UTF-8">
</head>
<body>
	<div class="wrapper">
		<div class="menu">
      		<iframe th:src="@{/menu}" width="230" height="550" frameborder="0"></iframe>
    	</div>
    	<div class="main">
			<div th:replace="header :: header"></div>
			<div class="user-name" th:text="${user_name} + ' さん'"></div>
			<div class="sub-menu">
				<a th:href="@{/userMasterReg}">登録</a>
				<a th:href="@{/userMaster}">検索</a>
			</div>
			<div>データを登録してもよろしいですか?</div>
			<form method="post" th:action="@{/userMasterReg}" th:object="${userMasterRegForm}">
			<table border="1">
				<tr>
					<th class="key-attr">ユーザID</th>
					<td th:text="*{user_id}" class="val-attr"></td>
				</tr>
				<tr>
					<th class="key-attr">ユーザ名</th>
					<td th:text="*{user_name}" class="val-attr"></td>
				</tr>
				<tr>
					<th class="key-attr">パスワード</th>
					<td th:text="*{password}" class="val-attr"></td>
				<tr>
					<th class="key-attr">権限</th>
					<td th:text="${authority}" class="val-attr"></td>
				</tr>
			</table>
			<br/>
			<div class="button-wrapper">
				<input type="submit" value="登録">
				<input type="button" value="中止" th:onclick="'window.location.href=\'/userMasterRegConfirm/cancel\''">
			</div>
			</form>
			<div class="top-footer"><div th:replace="footer :: footer"></div></div>
		</div>
	</div>
</body>
</html>